<footer class="footer" id="footer">
      <div class="cont-footer">
        
        <div class="redes">
          <ul class="social-icons redes">
            <li><a href="#"><i class="fa-brands fa-facebook" id="facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram" id="inst"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-tiktok" id="tiktok"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp" id="wtp"></i></a></li>
          </ul>
        </div>
       
        <button class="btn-up" id="btn-up-footer" (click)="scrollToTop()">Up</button>
          <!-- <button (click)="scrollToTop()" class="btn-scroll-top btn-up">
        <i class="fa-solid fa-chevron-up"></i>Up</button> -->
        
      </div>
      <div id="pie-pag">
        <p><a href="#">Fabiola Romano </a>| © <a href="#">RomanoFabiola2023</a> Buenos Aires. Argentina</p>
      </div>
  </footer>
  

 



