<footer class="footer" id="footer">
      <div class="cont-footer">
        
        <div class="redes">
          <ul class="social-icons redes">
            <li><a href="#"><i class="fa-brands fa-facebook" id="facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram" id="inst"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-tiktok" id="tiktok"></i></a></li>
            <!-- <li><a href="#"><i class="fa-solid fa-envelope" id="correo"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-phone" id="celu"></i></a></li> -->
            <li><a href="#"><i class="fa-brands fa-whatsapp" id="wtp"></i></a></li>
          </ul>
        </div>
       
        
        
      </div>
      <div id="pie-pag">
        <p>Fabiola Romano | © RomanoFabiola2023 Buenos Aires. Argentina</p>
      </div>
  </footer>
  

 



