<div class="inicioo" id="inicioo" (mousemove)="addStar($event)">
  <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" alt="Imagen Izquierda" class="imagen-izquierda imgTitulo">
  <h1 class="titulo">Medias A Medias</h1>
  <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" alt="Imagen Derecha" class="imagen-derecha imgTitulo">
  <div *ngFor="let star of stars" class="star" [style.top.px]="star.y" [style.left.px]="star.x"></div>

</div>

<div class="contMayor">
  <div class="contBanner">
      
      <div id="" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let media of medias">
            <img class="img-carrusel" [src]="media.img" alt="{{media.name}}" />
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="DescripPrincipal">
      <h2 class="subInicio "> "Medias con la mas Variedad de estilos y colores"</h2>
      <h2 class="subInicio "> "Venta por mayor con los mejores precios"</h2>
      <h2 class="subInicio "> "Envios a todo el pais"</h2>

    </div>

  </div>
 
 




