<div class="inicio">
  <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" alt="Imagen Izquierda" class="imagen-izquierda imgTitulo">
  <h1 class="titulo">Medias A Medias</h1>

  <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" alt="Imagen Derecha" class="imagen-derecha imgTitulo">
</div>


<div class="contMayor">
  <div class="contBanner">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg"
            class="d-block"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg"
            class="d-block"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg"
            class="d-block"
            alt="..."
          />
        </div>
      </div>
    </div>


    
  </div>

  <div class="contBanner">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg"
            class="d-block"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg"
            class="d-block"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg"
            class="d-block"
            alt="..."
          />
        </div>
      </div>
    </div>


    
  </div>

  
  </div>
  
  <div class="DescripPrincipal">
    <h2 class="subInicio "> "Medias al por mayor: Variedad de estilos y colores"
    </h2>
  </div>