<!-- carrito.component.html -->

<div class="carrito-container" mat-dialog-content>
  <h2>Carrito de Compras</h2>

  <div *ngIf="items.length > 0; else carritoVacio">
    <div *ngFor="let item of items" class="carrito-item">
      <img [src]="item.media.img" alt="{{ item.media.name }}" class="carrito-imagen">
      <div class="carrito-detalle">
        <p class="carrito-titulo">{{ item.media.name }}</p>
        <p class="carrito-descripcion">{{ item.media.description }}</p>
        <p class="carrito-precio">{{ item.media.precio | currency }}</p>
        <p>Cantidad: {{ item.cantidad }}</p>
        <!-- Nuevo párrafo para el total por artículo -->
        <p>Total por artículo: {{ calcularTotalPorItem(item) | currency }}</p>
        <span (click)="eliminarDelCarrito(item.media)">
          <i class="fas fa-minus"></i>

        </span>
        <!-- Nuevo span para el icono de sumar -->
        <span (click)="sumarAlCarrito(item.media)">
          <i class="fas fa-plus"></i>
        </span>
      </div>
    </div>

    <div class="carrito-total">
      <p>Total: {{ calcularTotal() | currency }}</p>
    </div>


    <a (click)="irAProductos()">
      <!-- <mat-icon>add_shopping_cart</mat-icon> -->
     Ir a Novedades
    </a>
    <a (click)="irALiquidaciones()">
      <!-- <mat-icon>add_shopping_cart</mat-icon> -->
      Ir a Liquiaciones
    </a>

    <div class="carrito-botones">

      <a (click)="vaciarCarrito()">
        <mat-icon>cleaning_services</mat-icon>
      </a>
      
      <span (click)="cerrarCarrito()">
        <mat-icon>close</mat-icon>
      </span>
      
      
      
    </div>
  </div>
  

  <ng-template #carritoVacio>
    <p>El carrito está vacío.</p>
    <a (click)="irAProductos()">
      <!-- <mat-icon>add_shopping_cart</mat-icon> -->
      Ir a Novedades
    </a>
    <a (click)="irALiquidaciones()">
      <!-- <mat-icon>add_shopping_cart</mat-icon> -->
      Ir a Liquidaciones
    </a>
        
    <span (click)="cerrarCarrito()">
      <mat-icon>close</mat-icon>
    </span>
    
  </ng-template>

  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" [(ngModel)]="nombreComprador" id="nombre" required>
  </div>
  <div>
    <label for="telefono">Teléfono:</label>
    <input type="tel" [(ngModel)]="telefonoComprador" id="telefono" required>
  </div>
  <div>
    <label for="email">Correo Electrónico:</label>
    <input type="email" [(ngModel)]="emailCliente" id="email" required>
  </div>
  
  <div>
    <button (click)="finalizarCompra()">Finalizar Compra</button>
  </div>

  
</div>

