<div class="favoritos">
  <i class="fa-solid fa-cart-shopping" id="carrito"></i>
  <i class="fa-solid fa-heart" id="corazon"></i>
</div>
<h2 class="subtitulo subDescriptivo">Nuestros productos</h2>
<div class="positionCards">
 
<div class="cards"> 
    <div class="card">
        <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" class="card-img-top imgCard" alt="...">
        <div class="card-body bodyCard">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark btn-carrito">Añadir</a>
        </div>
      </div>

      <div class="card">
        <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" class="card-img-top imgCard" alt="...">
        <div class="card-body bodyCard">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark btn-carrito">Añadir</a>
        </div>
      </div>

      <div class="card">
        <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" class="card-img-top imgCard" alt="...">
        <div class="card-body bodyCard">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark btn-carrito">Añadir</a>
        </div>
      </div>

      <div class="card">
        <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" class="card-img-top imgCard" alt="...">
        <div class="card-body bodyCard">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark btn-carrito">Añadir</a>
        </div>
      </div>

      <div class="card">
        <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" class="card-img-top imgCard" alt="...">
        <div class="card-body bodyCard">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark btn-carrito">Añadir</a>
        </div>
      </div>

      <div class="card">
        <img src="https://i.ibb.co/T4SWnM6/medias-Amedias-fotor-2023092617157.jpg" class="card-img-top imgCard" alt="...">
        <div class="card-body bodyCard">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark btn-carrito">Añadir</a>
        </div>
      </div>


   
      
</div>     
</div>