<div class="tituloNovedades">
  <i class="fa-solid fa-house casita" (click)="goToInicio()"><br></i>
 <h2 class="subtitulo">Liquidaciones</h2>
</div>

<div class="favoritos">
  <i class="fa-solid fa-cart-shopping btn-carrito" id="carrito-productos" (click)="abrirCarrito()"></i>
  <i class="fa-solid fa-heart" id="corazon"></i>
</div>

<div class="positionCards">

<button (click)="scrollToTop()" class="btn-scroll-top btn-up">
  <i class="fa-solid fa-chevron-up"></i><br>Up</button>

  <div class="cards"> 
  
    <div *ngFor="let media of medias">
      <div class="card">
        <img [src]="media.img" alt="{{ media.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ media.name }}</h5>
          <p class="card-text">Descripcion: {{ media.description }}</p>
          <p>Precio: {{ media.precio | currency }}</p> 
          <button (click)="agregarAlCarrito(media)">Agregar</button>
          <button (click)="eliminarDelCarrito(media)">Eliminar</button>
        </div>
      </div>
    </div> 

  </div>
  </div>
  
 
