<div id="positionNav">

<div class="navbar">
    <ul>
            <li><a routerLink="/inicio">Inicio</a></li>
            <li><a routerLink="/nosotros">Nosotros</a></li>
            <li><a routerLink="/novedades">Novedades</a></li>
            <li><a routerLink="/liquidaciones">Liquidaciones</a></li>
            <li><a routerLink="/consultas">Preguntas frecuentes</a>
             <li> <a (click)="scrollToFooter()">Contacto</a></li>

        <!--  <li><a href="#">Contacto</a></li> -->

    </ul>
</div>

<i class="fa-solid fa-user" id="users"></i>


</div>
