<div class="form-container">
    <h2 class="titulo" >Bienvenidos a </h2>
    <h1 class="titulo">Medias a Medias</h1>
    <div class="container">
      <form>
        <div class="form-email">
          <label for="InputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="InputEmail1" placeholder="ejemplo@email.com">
        </div>
        <div class="form-password">
          <label for="Password1" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password1" placeholder="contraseña">
        </div>
  
        <button type="submit" class="btn btn-primary" routerLink="/inicio">Ingresar</button>
      </form>
    </div>
  </div>
  