@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import "~font-awesome/css/font-awesome.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Roboto:ital@1&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Onest:wght@300&family=Playfair+Display&family=Roboto:ital@1&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************estilos en el header, titulo y banner*******************/
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  position: sticky;
  top: 86px;
  z-index: 1;
}

.titulo {
  position: relative;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.5rem;
  text-transform: capitalize;
  font-family: "Onest", sans-serif;
  color: #4b0082;

}

.imagen-izquierda {
  left: 95%;
}

.imagen-derecha {
  left: 0.5%;
}

.imgTitulo {
  position: absolute;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  transform-origin: center center;
  z-index: 1;
  margin: 4px;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}


/** inicio header***/

.inicioo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  position: sticky;
  top: 73px;
  z-index: 1;
  padding: 1rem;
  padding-bottom: 0;
}



.star {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  pointer-events: none;
  animation: twinkling 0.8s linear infinite, fadeOut 1s linear forwards;
  -webkit-box-shadow: 8px 8px 22px 5px rgba(219,21,219,1);
  -moz-box-shadow: 8px 8px 22px 5px rgba(219,21,219,1);
  box-shadow: 8px 8px 22px 5px rgba(219,21,219,1);
  
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}  





/*****Contenedor carrusel********/

.contMayor {
  display: flex;
  /* padding-left: 5rem; */
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
  width: 100%;
}

/* .contBanner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
  margin-top: 0;
  border-radius: 10px;
} */

#users {
  position: relative;
  right: 74%;
  margin-top: 1.8rem;
  font-size: 20px;
}

#users:hover {
  color: red;
}


.contBanner {
  width: 80%; /* Ajusta el ancho según sea necesario */
  height: 350px; /* Ajusta la altura según sea necesario */
  overflow: hidden; /* Oculta el desbordamiento para evitar movimientos inesperados */

padding-left: 1rem;
border-radius: 15px;
  
}

.carousel-item {
  display: flex;
  align-items: center; 
}

.img-carrusel {
  width: 80%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 80%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Escala la imagen para que cubra todo el contenedor sin distorsionarla */
  /* margin-top: -25px;  */
}


/*************estilos para el navBar*******************/

#positionNav {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: sticky;
  top: 0;
  /* animation: cambiaColor 10s infinite linear; */
  /* background-size: 400% 400%; */


  background-image: linear-gradient(
    to top,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
}

.navbar {
  display: flex;
  overflow: hidden;
  margin: 1px;
  margin-top: 0;
  position: sticky;
  top: 0;
}

.navbar ul {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0.1rem;
}

.navbar li {
  /* float: left; */
  display: inline-block;
}

.navbar a {
  display: block;
  color: #4b0082 !important;
  font-family: "Onest", sans-serif;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  margin: 8px;
  font-size: 15px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
  border-radius: 3px 15px;
}

.navbar a:hover {
  transform: none !important;
  /* transform: scale(1.0);
  transition: 1.5s; */
  background-image: linear-gradient(
    to top,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
}






/*************estilos para los filtos y las cards*******************/

.subtitulo {
  text-transform: capitalize;
  /* color: whitesmoke; */
  /* text-shadow: 2px 2px 0px #333, -2px -2px 0px #333, 2px -2px 0px #333,
    -2px 2px 0px #333; */
  /* font-family: "Young Serif", serif; */
  font-family: "Onest", sans-serif;
  color: #4b0082;


}

.tituloNovedades {
  padding: 1rem;
  font-size: 1.2rem;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

.favoritos {
  position: relative;
  left: 94%;
  font-size: 20px;
  position: fixed;
  top: 20px;
  z-index: 3;
}

.favoritos i {
  margin: 8px;
  margin-top: 10px;
}

#corazon {
  position: relative;
  color: #000;
}

#corazon:hover {
  color: red;
}

#carrito {
  color: #000;
}

#carrito:hover {
  color: #ffffff;
}

.casita {

  font-size: 10px;
  color: #ffffff;
  transition: transform 0.5s ease;
  width: 100%;
  background: linear-gradient(-45deg, #8a2be2, #4b0082);
  padding: 0.5rem;
}

.casita:hover {
  background-image: linear-gradient(
    to top,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  color: #000;
}

/* .DescripPrincipal{
  
} */





.subInicio {
  /* width: 90%; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cambiaColor 10s infinite linear;
  color: white;
  font-family: "Onest", sans-serif;
  font-size: 1.5rem;
  margin: 15px;
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 160px;
  z-index: 0;
  border-radius: 3px 15px;

}

.subInicio:nth-of-type(2) {
  animation-delay: 4s; /* Ajusta el retraso de la animación para el segundo elemento */
}

.subInicio:last-of-type {
  animation-delay: 8s; /* Ajusta el retraso de la animación para el último elemento */
}

.positionCards {
  display: flex;
  padding: 3rem 1rem;
  border-top: 1px;
  animation: cambiaColor 10s infinite linear;
  background-size: 400% 400%;
}

/*************cards*******************/

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  margin-top: 0;
}

.card {
  width: 18rem;
  margin: 5px;
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );


  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  max-width: 100%;
  height: auto;
}



.btn-carrito {
  font-size: 15px !important;
}

.btn-up {
  background: linear-gradient(-45deg, #8a2be2, #4b0082);
  color: #ffffff;
  font-size: 15px;
  border: none;
  border-radius: 15px 0px;
  padding: 3px;
}

.btn-up:hover {
  background-image: linear-gradient(
    to top,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  color: #000;
}



/****************footer*********************/

.footer {
  /* animation: cambiaColor 10s infinite alternate ; */
  animation: cambiaColor 10s infinite linear;
  padding: 20px 0;
  text-align: center;
}

#pie-pag {
  text-align: center;
}

.social-icons li {
  display: inline;
  margin: 15px;
}

.social-icons a {
  color: #0c0606;
  text-decoration: none;
}

a:hover {
  transform: scale(1.3);
  transition: 1s;
  color: #cac6ce;
}

#facebook,
#inst,
#tiktok,
#correo,
#celu {
  position: relative;
  -webkit-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  -moz-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  width: 50px;
  border-radius: 100%;
  padding: 8px;
  margin: 3px;
  margin-bottom: 5px;
  font-size: 35px;
}

#facebook:hover,
#celu:hover {
  transform: scale(1.3);
  transition: 1s;
  color: #0c10e6;
  border-radius: 100%;
}

#inst:hover {
  transform: scale(1.3);
  transition: 1s;
  color: #eb1289ec;
  border-radius: 100%;
}

#tiktok:hover {
  transform: scale(1.3);
  transition: 1s;
  color: white;
  background-color: #000;
  border-radius: 100%;
}

#wtp {
  position: fixed;
  z-index: 1000;
  bottom: 97px;
  right: 20px;
  -webkit-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  -moz-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  width: 50px;
  border-radius: 100%;
  padding: 6px;
  font-size: 40px !important;
}

#wtp:hover {
  transform: scale(1.3);
  transition: 1s;
  background-color: #14ff4fec;
  color: white;
}

#btn-up-footer {
  width: 40% !important;
  margin-bottom: 2rem;
  border: none !important;
  border-radius: 15px 0px;
}

/*******KEYFRAMES***********/

@keyframes cambiaColor {
  0% {
    background-position: 0% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
  }


  50% {
    background-position: 100% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
    color: #4b0082;
  }

  100% {
    background-position: 0% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********************LOGIN*******************/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
}

/* .TItulo-login {
  margin: 20px;
  color: white;
  text-align: center;
  font-family: 'Onest', sans-serif;

} */

.container {
  margin: 20px;
  background: linear-gradient(to bottom, #8f337b, #b4519f, #d98fc2);
  padding: 25px;
}

.form-email,
.form-password {
  margin-bottom: 15px;
}

.form-label {
  color: white;
}

.form-control {
  width: 100%;
}

.btn-primary {
  width: 100%;
  background: linear-gradient(-45deg, #8a2be2, #4b0082) !important;
  border: none !important;
}

.btn-primary:hover {
  background-image: linear-gradient(
    to top,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  ) !important;
}


/***************NOSOTROS*********/

.contNosotros{
    
  animation: cambiaColor 10s infinite linear;


}

.discurso{
margin: 15px;
padding: 1rem;
font-family: 'Onest', sans-serif;
font-size: 1.5rem;
text-align: center;
color:   #4b0082;

}


.discurh2{
padding: 1rem;
color: white;
}


/*****************CONSULTAS********************/

.titulo-consultas{
  font-family: "Onest", sans-serif;
  color:   #4b0082;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  margin-top: 0;
 
}

.faq-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  border: 1px solid #dcbfcf;
  border-radius: 5px;
  margin-bottom: 20px;
}

.question {
  background-color: #dcbfcf;
  color: #ffffff;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.answer {
  padding: 15px;
  /* display: none; */
  background-color: #f9f7ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.answer.show {
  display: block;
}

