@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import "~font-awesome/css/font-awesome.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Roboto:ital@1&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Onest:wght@300&family=Playfair+Display&family=Roboto:ital@1&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Onest:wght@300&family=Playfair+Display&family=Roboto:ital,wght@1,300;1,400&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*************estilos en el header, titulo y banner*******************/
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  position: sticky;
  top: 88px;
  z-index: 1;
}

.titulo {
  position: relative;
  font-size: 2rem !important;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.5rem;
  padding: 1rem;
  /* padding-bottom: 0; */
  text-transform: capitalize;
  font-family: "Onest", sans-serif !important;
  font-size: 35px !important;
  /* color: #4b0082; */

  color: #000;

  line-height: 22px !important;
  font-weight: 400;
}

.imagen-izquierda {
  left: 96%;
}

.imagen-derecha {
  left: 0.2% !important;
}

.imgTitulo {
  position: absolute;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  transform-origin: center center;
  z-index: 1;
  margin: 4px;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  top: 1rem;
}

/** inicio header***/

.inicioo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  position: sticky;
  top: 70px;
  z-index: 1;
  padding: 1rem;
  padding-bottom: 0;
}

.star {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  pointer-events: none;
  animation: twinkling 0.8s linear infinite, fadeOut 1s linear forwards;
  -webkit-box-shadow: 8px 8px 22px 5px rgba(219, 21, 219, 1);
  -moz-box-shadow: 8px 8px 22px 5px rgba(219, 21, 219, 1);
  box-shadow: 8px 8px 22px 5px rgba(219, 21, 219, 1);
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

/*****Contenedor carrusel********/

.contMayor {
  display: flex;
  width: 100%;
  height: 49%;
}

#users {
  position: relative;
  right: 72%;
  margin-top: 1.8rem;
  font-size: 20px;
}

#users:hover {
  color: red;
}

.contBanner {
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 315px; /* Ajusta la altura según sea necesario */
  overflow: hidden; /* Oculta el desbordamiento para evitar movimientos inesperados */
}

.carousel-item {
  display: flex;
  align-items: center;
}

.img-carrusel {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Escala la imagen para que cubra todo el contenedor sin distorsionarla */
  margin-top: -70px;
}

/*************estilos para el navBar*******************/

#positionNav {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: sticky;
  top: 0;
  background-image: linear-gradient(
    to top,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
}

.navbar {
  display: flex;
  overflow: hidden;
  margin: 1px;
  margin-top: 0;
  position: sticky;
  top: 0;
}

.navbar ul {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0.1rem;
}

.navbar li {
  /* float: left; */
  display: inline-block;
}

.navbar a {
  display: block;
  color: #4b0082 !important;
  font-family: "Onest", sans-serif;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  margin: 8px;
  font-size: 13px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
  border-radius: 3px 15px;
}

.navbar a:hover {
  transform: none !important;
  /* transform: scale(1.0);
  transition: 1.5s; */
  background-image: linear-gradient(
    to top,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
}

/*************estilos para los filtos y las cards*******************/

.subtitulo {
  text-transform: capitalize;
  color: #000 !important;
  font-family: "Onest", sans-serif !important;
  font-size: 25px !important;
  /* padding-top: 2rem !important; */
  /* display: inline-block; */
}

.tituloNovedades {
  padding-bottom: 2px !important;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  text-align: center;
}

.favoritos {
  position: relative;
  left: 94%;
  font-size: 20px;
  position: fixed;
  top: 20px;
  z-index: 3;
}

.favoritos i {
  margin: 8px;
  margin-top: 10px;
}

#corazon {
  font-size: 15px;
  position: relative;
  color: #000;
}

#corazon:hover {
  color: red;
}

#carrito {
  color: #000;
}

#carrito:hover {
  color: #ffffff;
}

.casita {
  position: relative;
  bottom: -32px;
  right: 48%;
  animation: rotate 5s linear infinite;
  font-size: 20px;
  border-radius: 50%;
  color: #ffffff;
  transition: transform 0.5s ease;
  /* background: linear-gradient(-45deg, #8a2be2, #4b0082); */
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  padding: 6px;
}

.casita:hover {
  background-image: linear-gradient(
    to top,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  color: #000;
}

.subInicio {
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cambiaColor2 8s infinite linear;
  color: transparent;
  font-family: "Onest", sans-serif !important;
  /* font-family: 'Young Serif', serif !important; */

  font-size: 20px !important;
  padding: 10px;
  text-align: center;
  margin: 0 !important;
  line-height: 22px;
  font-weight: 400;
}

#subInicio {
  padding-top: 2px;
}

.subInicio:nth-of-type(2) {
  animation-delay: 6s;
}

.subInicio:last-of-type {
  animation-delay: 12s;
}

.positionCards {
  display: flex;
  padding: 3rem 1rem;
  border-top: 1px;
  /* background-color: #f1e7fc; */
  background-image: linear-gradient(
    to top,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
  /* background-size: 400% 400%; */
}

/*************cards*******************/

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  margin-top: 0;
}



.card {
  width: 20rem;
  /* height: 100% !important;  */
  margin: 10px;
  padding: 5px;
  margin-bottom: 1rem;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  background-image: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Evita que el contenido sobresalga del contenedor */
}


.card img {
  object-fit: cover !important; /* Controla cómo se ajusta la imagen al contenedor */
  max-height: 100% !important; /* Asegura que la imagen no supere la altura de la tarjeta */
  max-width: 100% !important;

}




.btn-carrito {
  font-size: 15px !important;
}

.btn-up {
  /* background: linear-gradient(-45deg, #8a2be2, #4b0082); */
  color: #ffffff;
  font-size: 10px;
  border: none;
  border-radius: 100px;
  padding: 1px;
  /* width: 37px;
  height: 37px; */
  margin-top: 1rem;
  background-image: linear-gradient(
    to top,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
}

.btn-up:hover {
  background-image: linear-gradient(
    to top,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
  color: #000;
}

/****************footer*********************/

.footer {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9f7ff,
    #f5effd,
    #f1e7fc,
    #efdef9,
    #eacef6,
    #e6bef3,
    #e2aeee,
    #d992e9,
    #cf76e3,
    #c457dd,
    #b92fd6
  );
  padding: 20px 0;
  text-align: center;
}

#pie-pag {
  text-align: center;
}

.social-icons li {
  display: inline;
  margin: 15px;
}

.social-icons a {
  color: #0c0606;
  text-decoration: none;
}

a:hover {
  transform: scale(1.3);
  transition: 1s;
  color: #cac6ce;
}

#facebook,
#inst,
#tiktok,
#correo,
#celu {
  position: relative;
  -webkit-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  -moz-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  width: 50px;
  border-radius: 100%;
  padding: 8px;
  margin: 3px;
  margin-bottom: 5px;
  font-size: 35px;
}

#facebook:hover,
#celu:hover {
  transform: scale(1.3);
  transition: 1s;
  color: #0c10e6;
  border-radius: 100%;
}

#inst:hover {
  transform: scale(1.3);
  transition: 1s;
  color: #eb1289ec;
  border-radius: 100%;
}

#tiktok:hover {
  transform: scale(1.3);
  transition: 1s;
  color: white;
  background-color: #000;
  border-radius: 100%;
}

#wtp {
  position: fixed;
  z-index: 1000;
  bottom: 97px;
  right: 20px;
  -webkit-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  -moz-box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  box-shadow: 4px 10px 16px -4px rgba(235, 221, 235, 1);
  width: 50px;
  border-radius: 100%;
  padding: 6px;
  font-size: 40px !important;
}

#wtp:hover {
  transform: scale(1.3);
  transition: 1s;
  background-color: #14ff4fec;
  color: white;
}

#btn-up-footer {
  width: 40% !important;
  margin-bottom: 2rem;
  border: none !important;
  border-radius: 15px 0px;
}

/*******KEYFRAMES***********/

@keyframes cambiaColor {
  0% {
    background-position: 0% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
  }

  50% {
    background-position: 100% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
    /* color: #4b0082; */
    color: #000;
  }

  100% {
    background-position: 0% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
  }
}

@keyframes cambiaColor2 {
  0% {
    background-position: 0% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
  }

  50% {
    background-position: 100% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
    /* color: #4b0082; */
    color: #000;

    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
  }

  100% {
    background-position: 0% 50%;

    background-image: linear-gradient(
      to left,
      #ffffff,
      #f9f7ff,
      #f5effd,
      #f1e7fc,
      #efdef9,
      #eacef6,
      #e6bef3,
      #e2aeee,
      #d992e9,
      #cf76e3,
      #c457dd,
      #b92fd6
    );
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********************LOGIN*******************/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  );
}

.container {
  margin: 20px;
  background: linear-gradient(to bottom, #8f337b, #b4519f, #d98fc2);
  padding: 25px;
}

.form-email,
.form-password {
  margin-bottom: 15px;
}

.form-label {
  color: white;
}

.form-control {
  width: 100%;
}

.btn-primary {
  width: 100%;
  background: linear-gradient(-45deg, #8a2be2, #4b0082) !important;
  border: none !important;
}

.btn-primary:hover {
  background-image: linear-gradient(
    to top,
    #8f337b,
    #9b3d87,
    #a74793,
    #b4519f,
    #c05bab,
    #c767b2,
    #cf73b8,
    #d67fbf,
    #d98fc2,
    #db9fc6,
    #dcafca,
    #dcbfcf
  ) !important;
}

/***************NOSOTROS*********/

.contNosotros {
  animation: cambiaColor 10s infinite linear;
}

.discurso {
  margin: 15px;
  padding: 1rem;
  font-family: "Onest", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #4b0082;
}

.discurh2 {
  padding: 1rem;
  color: white;
}

/*****************CONSULTAS********************/

.titulo-consultas {
  font-family: "Onest", sans-serif;
  color: #4b0082;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  margin-top: 0;
}

.faq-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  border: 1px solid #dcbfcf;
  border-radius: 5px;
  margin-bottom: 20px;
}

.question {
  background-color: #dcbfcf;
  color: #ffffff;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.answer {
  padding: 15px;
  /* display: none; */
  background-color: #f9f7ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.answer.show {
  display: block;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



/***************estilos carrito***********/
/* carrito.component.css */

.carrito-container {
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 20px;
  /* position: fixed; */
  /* top: 0;
  right: 0; */
  background-color: #fff; /* Cambia el color de fondo según tu diseño */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra sutil */
  padding: 20px;
  border-radius: 8px;
  z-index: 1000; /* Asegúrate de que aparezca sobre otros elementos */
}

.carrito-imagen {
  max-height: 50px; /* Ajusta la altura máxima de la imagen */
  width: auto; /* Asegura que el ancho se ajuste automáticamente */
  margin-right: 10px;
}

.carrito-item {
  display: flex;
  margin-bottom: 15px;
}

.carrito-detalle {
  flex-grow: 1;
}

.carrito-total {
  margin-top: 10px;
  font-weight: bold;
}

.carrito-botones {
  margin-top: 10px;
  text-align: right;
}

/* Agrega otros estilos según tus necesidades */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




